<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:context="http://www.springframework.org/schema/context"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="inventoryServiceImpl" class="org.genspark.inventory.service.InventoryServiceImpl">
        <property name="inventoryDao" ref="inventoryDaoImpl" />
    </bean>

    <bean id="inventoryDaoImpl" class="org.genspark.inventory.repository.InventoryDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="dataInitializer" class="org.genspark.DataInitializer" >
        <property name="inventoryDao" ref="inventoryDaoImpl" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
            <array>
                <value>org.genspark.inventory.domain</value>
            </array>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show.sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <constructor-arg name="url" value="jdbc:mysql://localhost:3306/inventory" />
        <constructor-arg name="username" value="dev" />
        <constructor-arg name="password" value="@devPass1" />
    </bean>


</beans>